
body {
  font-family: "Roboto", sans-serif;
}

button {
  border: 0;
  border-radius: 50px;
  color: white;
}

button:hover {
  opacity: .9;
  cursor: pointer;
}

/* intro */
.intro {
  background: url("../img/main-screen__bgc.png") no-repeat;
  background-size: contain;
  width: 100%;
  height: 964px;
}

.logo {
  cursor: pointer;
}

.header {
  font-size: 16px;
  padding: 40px 80px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  color: white;
  margin-left: 56px;
  text-decoration: none;
}

.nav__link:hover {
  opacity: .9;
}

.nav__link:first-child {
  margin-left: 0px;
}

.header__button {
  width: 183px;
  height: 44px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.header__button:hover {
  opacity: .9;
}

.container {
  width: 100%;
  max-width: 1184px;
  margin: 190px auto 0;
}

.intro__title {
  color: white;
  font-weight: bold;
  font-size: 64px;
  text-align: left;
  width: 800px;
  line-height: 90px;
}

.intro__timer {
  display: flex;
  color: white;
  flex-wrap: wrap;
  margin-top: 50px;
}

.timer__block {
  background: #121212;
  width: 102px;
  height: 112px;
  margin-left: 30px;
}

.timer__block .font-bold {
  margin: 20px 30px 10px;
  font-weight: bold;
  font-size: 36px;
}

.timer__block .font-normal {
  font-size: 16px;
  color: #FFFFFF;
  opacity: .4;
  text-align: center;
}

.timer__block:first-child {
  margin-left: 0px;
}

.intro__bottom {
  background: #121212;
  width: 100%;
  height: 130px;
  margin-top: 218px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: white;
}

.intro__bottom .font-normal {
  opacity: .4;
}

.intro__bottom .font-bold {
  font-weight: bold;
}

.bottom__button-order {
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  width: 169px;
  height: 44px;
  font-weight: bold;
}

.bottom__people {
  display: flex;
  justify-content: space-between;
  width: 251px;
  height: 58px;
  margin-left: 81px;
}

.people__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom__money {
  margin-left: 81px;
  height: 67px;
  width: 100%;
  max-width: 714px;
  line-height: 24px;
}

.money__earned {
  display: flex;
}

.money__earned .font-bold-margin {
  margin-left: 30px;
  font-weight: bold;
}

.money__progress-bar {
  display: flex;
  margin-top: 8px;
  height: 6px;
}

.progress-bar__filled {
  width: 40%;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.progress-bar__blank {
  width: 60%;
  background: white;
}

.money__progress-bar-gap {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

/* description */
.description {
  background: url("../img/bgc.png");
  position: absolute;
  width: 100%;
  height: 960px;
}

.we-doing {
  display: flex;
}

.we-doing__img {
  background: url("../img/computer outline.svg");
  width: 526px;
  height: 499px;
}

.img__computer {
  margin: 96px 40px 0;
}

.we-doing__info {
  margin-left: 134px;
  color: #FFFFFF;
}

.info__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 67px;
}

.info__text {
  font-size: 16px;
  line-height: 26px;
  margin-top: 45px;
}