* {
  margin: 0;
  padding: 0;
}

/* intro */
.intro {
  background: url("../img/main-screen__bgc.png") no-repeat;
  position: absolute;
  background-size: contain;
  width: 100%;
  height: 960px;
}

.header {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 40px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  color: white;
  margin-left: 56px;
  text-decoration: none;
}

.nav__link:hover {
  opacity: .9;
}

.header__button {
  color: white;
  width: 183px;
  height: 44px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.header__button:hover {
  opacity: .9;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
