
body {
  font-family: "Roboto", sans-serif;
}

/* intro */
.intro {
  background: url("../img/main-screen__bgc.png") no-repeat;
  position: absolute;
  background-size: contain;
  width: 100%;
  height: 960px;
}

.logo {
  cursor: pointer;
}

.header {
  font-size: 16px;
  margin: 40px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  color: white;
  margin-left: 56px;
  text-decoration: none;
}

.nav__link:first-child {
  margin-left: 0px;
}

.nav__link:hover {
  opacity: .9;
}

.header__button {
  color: white;
  width: 183px;
  height: 44px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.header__button:hover {
  opacity: .9;
}

.container {
  width: 100%;
  max-width: 1184px;
  margin: 270px auto;
}

.intro__title {
  color: white;
  font-weight: bold;
  font-size: 64px;
  text-align: left;
  width: 800px;
  line-height: 90px;
}

.intro__timer {
  display: flex;
  color: white;
}

.intro__timer h2 {
  margin: 20px 30px 10px;
  font-weight: bold;
  font-size: 36px;
}

.intro__timer h3 {
  font-size: 16px;
  color: #FFFFFF;
  opacity: .4;
  text-align: center;
}

.timer {
  background: #121212;
  width: 102px;
  height: 112px;
  margin-top: 70px;
  margin-left: 30px;
}

.timer:first-child {
  margin-left: 0px;
}

.intro__bottom {
  background: #121212;
  width: 1920px;
  height: 130px;
}