body {
  font-family: "Roboto", sans-serif;
}

button {
  border: 0;
  border-radius: 50px;
  color: white;
}

button:hover {
  opacity: .9;
  cursor: pointer;
}

/* intro page */
.intro {
  background: url("../img/main-screen__bgc.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 964px;
}

.logo {
  cursor: pointer;
}

.header {
  font-size: 16px;
  padding: 40px 80px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  color: white;
  margin-left: 56px;
  text-decoration: none;
}

.nav__link:hover {
  opacity: .9;
}

.nav__link:first-child {
  margin-left: 0px;
}

.header__button {
  width: 183px;
  height: 44px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.header__button:hover {
  opacity: .9;
}

.container {
  width: 100%;
  max-width: 1315px;
  margin: 190px auto 0;
}

.intro__title {
  color: white;
  font-weight: bold;
  font-size: 64px;
  text-align: left;
  width: 800px;
  line-height: 90px;
}

.intro__timer {
  display: flex;
  color: white;
  flex-wrap: wrap;
  margin-top: 50px;
}

.timer__block {
  background: #121212;
  width: 102px;
  height: 112px;
  margin-left: 30px;
}

.timer__block .font-bold {
  margin: 20px 30px 10px;
  font-weight: bold;
  font-size: 36px;
}

.timer__block .font-normal {
  font-size: 16px;
  color: #FFFFFF;
  opacity: .4;
  text-align: center;
}

.timer__block:first-child {
  margin-left: 0px;
}

.intro__bottom {
  background: #121212;
  width: 100%;
  height: 130px;
  margin-top: 218px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: white;
}

.intro__bottom .font-normal {
  opacity: .4;
}

.intro__bottom .font-bold {
  font-weight: bold;
}

.bottom__button-order {
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  width: 169px;
  height: 44px;
  font-weight: bold;
}

.bottom__people {
  display: flex;
  justify-content: space-between;
  width: 251px;
  height: 58px;
  margin-left: 81px;
}

.people__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom__money {
  margin-left: 81px;
  height: 67px;
  width: 100%;
  max-width: 714px;
  line-height: 24px;
}

.money__earned {
  display: flex;
}

.money__earned .font-bold-margin {
  margin-left: 30px;
  font-weight: bold;
}

.money__progress-bar {
  display: flex;
  margin-top: 8px;
  height: 6px;
}

.progress-bar__filled {
  width: 40%;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.progress-bar__blank {
  width: 60%;
  background: white;
}

.money__progress-bar-gap {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

/* description page */
.description {
  background: url("../img/bgc.png");
  position: absolute;
  width: 100%;
  height: 4960px;
}

/* about */
.about {
  display: flex;
}

.about__img {
  background: url("../img/computer outline.svg");
  width: 526px;
  height: 499px;
}

.img__computer {
  margin: 96px 40px 0;
}

.about__info {
  margin-left: 134px;
  color: #FFFFFF;
}

.info__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 67px;
}

.info__text {
  font-size: 16px;
  line-height: 26px;
  margin-top: 45px;
}


/* start */
.start {
  color: #FFFFFF;
}

.start__title-flex {
  display: flex;
}

.start__ellipse {
  transform: rotate(45deg);
}

.start__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 67px;
  margin-left: 31px;
  margin-top: 31px;
}

.start__subtitle {
  font-size: 16px;
  line-height: 26px;
  opacity: .5;
  margin-top: 49px;
  margin-left: 24px;
}

.start__info-graphic {
  margin-top: 80px;
  margin-left: 19px;
  display: flex;
  flex-wrap: wrap;
}

.info-graphic__block {
  width: 100%;
  max-width: 324px;
  height: 300px;
}

.block__percent {
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
}

.block__ractangle {
  height: 80px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.block__ractangle-100 {
  height: 80px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.block__ractangle-75 {
  height: 60px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  position: absolute;
  top: 50%;
  width: 100%;
  margin: -30px 0 0 0;
}

.block__ractangle-50 {
  height: 30px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  position: absolute;
  top: 50%;
  width: 100%;

  /* Уходит на 1 пиксель. Я не знаю почему */
  margin: -15px 0 0 -1px;
}

.block__ractangle-total {
  height: 10px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  position: absolute;
  top: 50%;
  width: 100%;

  /* Уходит на 2 пикселя. Я не знаю почему */
  margin: -5px 0 0 -2px;
}

.block__text {
  font-size: 14px;
  line-height: 22px;
  opacity: .5;
  width: 306px;
  margin-top: 35px;
}


/* adventages */
.adventages__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 67px;
  text-align: center;
  color: #FFFFFF;
}

.advantages__flex {
  display: flex;
  margin-top: 120px;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #FFFFFF;
}

.column__title {
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  margin-top: 60px;
  max-width: 325px;
}

.column__subtitle {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  margin-top: 30px;
}

.flex__column1 {
  width: 100%;
  max-width: 358px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex__column2 {
  width: 100%;
  max-width: 358px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex__column3 {
  width: 100%;
  max-width: 358px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* partners */
.partners__title-flex {
  display: flex;
}

.partners__ellipse {
  transform: rotate(-135deg);
  margin-top: 60px;
}

.partners__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 67px;
  margin-left: 60px;
  margin-top: 31px;
  color: white;
}

.partners__logos {
  display: flex;
  flex-wrap: wrap;
  margin-left: 19px;
  margin-top: 89px;
}

.logos__msi1 {
  position: relative;
  width: 324px;
}

.logos__brend {
  margin: 28px 66px 29px 54px;
}

.logos__line1 {
  width: 99%;
  opacity: .3;
  border: 1px solid #FFFFFF;
  height: 0px;
}

.logos__line2 {
  position: absolute;
  opacity: .3;
  width: 300px;
  border: 1px solid #FFFFFF;
  transform: rotate(90deg);
  top: 150px;
  left: 172px;
  height: 0px;
}